*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}





/* -----------NavBar Section------------------------ */



#Nav-bar
{

    position: sticky;
    top: 0;
    z-index: 10;

}
.navbar
{
    background-image: linear-gradient(to left, rgb(38, 0, 255) , rgb(0, 255, 255));
    padding: 0%;
}
.navbar-brand img
{
    height: 70px;
    padding-left: 20px; 
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #FFF !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #FFF !important;
    font-size: 30px;
}
.navbar-toggler
{
    outline: none !important;
}






/* ---------------Body Part--------------------------- */


#body
{
    
    width: 100%;
    height: 100%;
    height: 87.5vh;
    background-image: linear-gradient(to left, rgb(38, 0, 255) , rgb(0, 255, 255));
    color: #FFF;
    
}




.col-md-6
{
    
    margin-top: 100px;

}


.title
{
    
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
    text-shadow: 1px  0.5px black;

}
.paragraph
{
    text-shadow: 1px 1px black;
    text-align: center;
}
#any
{
    height: 100%;
    width: 100%;
    /* background-image: url("images/back.png");
    background-repeat: no-repeat;
    background-position: bottom;
     */
}